<a href="https://colab.research.google.com/github/ankushanubhav/Decodr/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
l1 = [3,5,2,7,4]

In [8]:
num = len(l1)
print (num)

5

In [13]:
for i in l1:
  print (i)

3
5
2
7
4

In [12]:
N = int(input())
mini = 101
mini2 = 102
a = []
for i in range(N):
    name = raw_input()
    mark = float(input())
    if mark<mini:
        mini2 = mini
        mini = mark
    elif mark!=mini and mark<mini2:
        mini2 = mark
    a.append([name, mark])
b = [x[0] for x in a if x[1]==mini2]
b.sort()
for y in b:
    print

5

NameError: ignored

In [33]:
n = int(input())
lst = []
lst1 = []
lst2 = []
for i in range(0, n):
    lst1 = str(input("Enter name of student: "))
    lst2 = float(input("Enter marks of student: "))
    lst.append([lst1, lst2])
    print (lst)
lst = sorted(lst, key=lambda x: x[1]);
print (lst)
for i in range(1, n):
    if(lst[i][1] != lst[i-1][1]):
        score = lst[i][1]
        print (score)
        break
lst = sorted(lst);
for i in range(n):
    if(lst[i][1] == score):
        print (lst[i][0])

3
Enter name of student: 12
Enter marks of student: 12
[['12', 12.0]]
Enter name of student: 11
Enter marks of student: 11
[['12', 12.0], ['11', 11.0]]
Enter name of student: 23
Enter marks of student: 23
[['12', 12.0], ['11', 11.0], ['23', 23.0]]
[['11', 11.0], ['12', 12.0], ['23', 23.0]]
12.0
12

In [1]:
n = int(input())
lst = []
lst1 = []
lst2 = []
for i in range(0, n):
    lst1 = str(input("Enter name of student: "))
    lst2 = float(input("Enter marks of student: "))
    lst.append([lst1, lst2])
print (lst)
for x in range(1, n):
    if(lst[x][1] != lst[x-1][1]):
        score = lst[x][1]
        print (score)
        break
lst = sorted(lst);
for x in range(n):
    if(lst[x][1] == score):
        print (lst[x][0])

2
Enter name of student: 12
Enter marks of student: 12
Enter name of student: 23
Enter marks of student: 23
[['12', 12.0], ['23', 23.0]]
23.0
23

In [34]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [47]:
t=["a","b","c"]
t.append("d")
print (t)

['a', 'b', 'c', 'd']

In [4]:
l1=[]
score_list=[]
n= int(input("enter a no: "))
for i in range(0,n):
  name = input()
  score=float(input())
  l1.append([name,score])
  score_list.append(score)
score_list.sort()
score_list=list(set(score_list))
score_list.sort()
second_lowest=score_list[1]

name=[]
for i in l1:
  try:
    indx=i.index(second_lowest)
    name.append(i[0])
  except:
    pass
name.sort()
for i in name:
  print(i)

enter a no: 5
ab
23
bc
23
dc
34
rf
45
er
47
dc